html {
  background: white;
  background-repeat: no-repeat;
  background-size: cover;
}

#total {
  color: black;
  text-align: center;
}

body {
  color: white;
  margin: auto;
}

button {
  color: gray;
}

#condition_all {
  color: black;
  text-align: center;
  padding: 1%;
  background: gray;
  margin-left: 40%;
  margin-right: 40%;
  border-radius: 7%;
}

#condition_all #temp {
  font-size: 3em;
  font-weight: bold;
}

#condition {
  text-transform: capitalize;
}

#converter {
  margin: 0;
  font-size: 0.8em;
}

#current_conditions {
  display: block;
  text-align: center;
  margin: auto;
}

div#current_conditions > span {
  border-radius: 6%;
  padding: 1%;
  margin: 1%;
  font-size: 1.5em;
  background: #B0B0B0;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#forecast {
  display: inline;
}

span#forecast > div {
  text-align: center;
  background-color: gray;
  color: white;
  width: 14%;
  margin-left: 2%;
  justify-content: space-around;
}

#forecast #time {
  font-size: 1.5em;
}

#weather_icon {
  height: 3em;
  width: 3em;
}

#forecast #temp {
  font-size: 2em;
}

#footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background: gray;
}

#footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  colour: white;
}

a {
  color: white;
  text-decoration:
}

#hiddenEmail {
  visibility: hidden;
}

.right {
  float: right;
  margin-right: 3%;
}
